In [1]:
euro="\u20ac"
euro

'€'

In [72]:
import pandas as pd

In [2]:
euro="\N{euro sign}"
euro

'€'

In [3]:
print(euro)

€

In [4]:
euro

'€'

In [7]:
print( '\r\n \1\2\3')

 

In [8]:
print( r'\r\n \1\2\3')

\r\n \1\2\3

In [13]:
name = 'Fred' ' ' 'Bloggs'

In [14]:
name

'Fred Bloggs'

name = 'Fred' \

In [37]:
name = 'Fred' \
... ' Bloggs'

In [38]:
name

'Fred Bloggs'

In [39]:
#name = first + 'Bloggs'

NameError: name 'first' is not defined

In [80]:
name

'Fred Bloggs'

In [81]:
print('Hello\nWorld')

Hello
World

In [82]:
print("Hello\nWorld")

Hello
World

In [44]:
len(name)

11

str(42)

In [46]:
str(42222)

'42222'

In [47]:
int("42222")

42222

int(42222)

In [48]:
int(42222)

42222

In [50]:
str.lower(name)

'fred bloggs'

In [51]:
str.upper(name)

'FRED BLOGGS'

In [53]:
str.rstrip(name)

'Fred Bloggs'

In [54]:
text='Hello World'

In [55]:
text

'Hello World'

In [63]:
print(text)

Hello World

In [60]:
print(text.count('l'))

3

In [62]:
if text.startswith('Hell'):
    print("Hello to this world")

Hello to this world

In [64]:
if text.isalpha():
    print('string is alpha')

In [67]:
#"text{0:5.3f}text{1:3.d}text{2}".format(var1,var2,var3) Doesn't seem to work

NameError: name 'var2' is not defined

In [68]:
planets = {'Mercury':57.91,
          'Venus':108.2,
          'Earth':149.597870,
          'Mars':227.94
          }

In [73]:
planets

{'Mercury': 57.91, 'Venus': 108.2, 'Earth': 149.59787, 'Mars': 227.94}

In [74]:
for i, key in enumerate(planets.keys(), 1):
    print("{:2d} {:<10s} {:06.2f} Gm".
         format (i, key, planets[key]))

 1 Mercury    057.91 Gm
 2 Venus      108.20 Gm
 3 Earth      149.60 Gm
 4 Mars       227.94 Gm

In [83]:
str.capitalize(name)

'Fred bloggs'

In [84]:
print(name.capitalize())

Fred bloggs

In [85]:
name

'Fred Bloggs'

In [86]:
str.upper(name)

'FRED BLOGGS'

In [89]:
str.capitalize(name)

'Fred bloggs'

In [91]:
names = ['Tom', 'Andrew', 'Andy', 'Pete', 'Gary']
s = f"The third member is {names[3]}"

In [92]:
names

['Tom', 'Andrew', 'Andy', 'Pete', 'Gary']

In [95]:
print(text.count('l'))

3

In [96]:
text = "Remarkable bird, the Norwegian Blue"

In [97]:
text

'Remarkable bird, the Norwegian Blue'

In [98]:
print(text[11:14])

bir

In [99]:
print(text[-7:-1])

an Blu

In [100]:
text[11:14]

'bir'

In [101]:
text[:14]

'Remarkable bir'

In [103]:
text[14:]

'd, the Norwegian Blue'

In [105]:
line = 'root::0:0:superuser:/root:/bin/sh'
elems = line.split(':')

elems[0] = 'avatar'
elems[4] = 'The super-user (zero)'
line = ':'.join(elems)
print(line)

avatar::0:0:The super-user (zero):/root:/bin/sh

In [111]:
print('cats', 'dogs', 'mice', 'sheep', 'frogs')

cats dogs mice sheep frogs

In [118]:
print('cats', 'dogs', 'mice', 'sheep', 'frogs', sep=',') # adds the commas

cats,dogs,mice,sheep,frogs

In [117]:
print('cats', ' dogs', ' mice', ' sheep', ' frogs', sep=',') # adds the commas and spaces

cats, dogs, mice, sheep, frogs

In [122]:
name

'Fred Bloggs'

In [127]:
print ('What is your name?')
my_name = input()
print ('Hi, {}'.format(my_name))

What is your name?
Andy
Hi, Andy

In [134]:
my_name = input('What is your name?')
print ('Hi, {}'.format(my_name))

What is your name?Andy
Hi, Andy