In [12]:
teams = {'Chelsea' : 24,
         'Arsenal' : 16,
         'Everton' : 25,
         'Burnley' : 43,
        'Manchester United': 44}

In [2]:
teams

{'Chelsea': 24, 'Arsenal': 16, 'Everton': 25, 'Burnley': 43}

In [13]:
for team in teams:
    print(team + ' :  ' + str(teams[team]))

Chelsea :  24
Arsenal :  16
Everton :  25
Burnley :  43
Manchester United :  44

In [14]:
for team in teams:
    print(f"{team:7s}:{teams[team]:6.1f} points")

#7s - spaces for the team characters
#6.1 - 6 spaces for the points characters with 1 decimal place

Chelsea:  24.0 points
Arsenal:  16.0 points
Everton:  25.0 points
Burnley:  43.0 points
Manchester United:  44.0 points

In [16]:
for team in teams:
    print(f"{team:20s}:{teams[team]:6.1f} points")

#7s - spaces for the team characters
#6.1 - 6 spaces for the points characters with 1 decimal place
#20 gives more space for Man Utd

Chelsea             :  24.0 points
Arsenal             :  16.0 points
Everton             :  25.0 points
Burnley             :  43.0 points
Manchester United   :  44.0 points