In [1]:
import pandas as pd

In [8]:
TSales = pd.read_csv("Tractor-Sales ARB.csv")

In [9]:
TSales

    Month-Year  Number of Tractor Sold  Moving Average  CMA
0       Jan-03                     141             NaN  NaN
1       Feb-03                     157             NaN  NaN
2       Mar-03                     185             NaN  NaN
3       Apr-03                     199             NaN  NaN
4       May-03                     203             NaN  NaN
..         ...                     ...             ...  ...
139     Aug-14                     848             NaN  NaN
140     Sep-14                     640             NaN  NaN
141     Oct-14                     581             NaN  NaN
142     Nov-14                     519             NaN  NaN
143     Dec-14                     605             NaN  NaN

[144 rows x 4 columns]

In [11]:
TSales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month-Year              144 non-null    object
 1   Number of Tractor Sold  144 non-null    int64
 2   Moving Average          133 non-null    float64
 3   CMA                     132 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ KB

In [5]:
TSales['MA'] = TSales['Moving Average'].astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer