In [2]:
import pandas as pd

In [3]:
lib_2014 = pd.read_csv("librarycheckouts_2014.csv")
lib_2014.dtypes
lib_2014['CheckoutDateTime'] = pd.to_datetime(lib_2014['CheckoutDateTime']) # convert CheckoutDateTime to date/time
count_by_category = lib_2014.groupby('CheckoutDateTime').size().reset_index(name='Count') # counts the number of times a 
# particular entry appears in a column.  I now need to limit the data to the day, not including the time
count_by_category['DateOnly'] = count_by_category['CheckoutDateTime'].dt.date # converts date time to a new date only column.
# Now need to amalgamate them
count_by_cat = count_by_category.groupby('DateOnly').size().reset_index(name='Count') # I now have number of times an item was
# withdrawn from the library per day in 2014.  I need this for all three years
count_by_cat.to_csv('Lib_2014_dates_only.csv')

In [4]:
lib_2015 = pd.read_csv("librarycheckouts_2015.csv")

In [5]:
lib_2015.dtypes

Unnamed: 0           int64
BibNumber            int64
ItemBarcode          int64
ItemType            object
Collection          object
CallNumber          object
CheckoutDateTime    object
dtype: object

In [6]:
lib_2015['CheckoutDateTime'] = pd.to_datetime(lib_2015['CheckoutDateTime'])

In [8]:
lib_2015.head(1)

,Unnamed: 0,BibNumber,ItemBarcode,ItemType,Collection,CallNumber,CheckoutDateTime
0,0,2968652,10081451584,acbk,namys,MYSTERY LEON 2014,2015-11-04 14:18:00

In [9]:
lib_2015.groupby('CheckoutDateTime').size().reset_index(name='Count')

          CheckoutDateTime  Count
0      2015-01-02 09:17:00      1
1      2015-01-02 09:18:00      1
2      2015-01-02 09:19:00      1
3      2015-01-02 09:25:00      4
4      2015-01-02 09:28:00      2
...                    ...    ...
169836 2015-12-31 17:54:00      5
169837 2015-12-31 17:55:00      2
169838 2015-12-31 17:57:00      2
169839 2015-12-31 17:58:00      1
169840 2015-12-31 17:59:00      1

[169841 rows x 2 columns]

In [12]:
count_by_category = lib_2015.groupby('CheckoutDateTime').size().reset_index(name='Count')

In [13]:
count_by_category['DateOnly'] = count_by_category['CheckoutDateTime'].dt.date

In [14]:
count_by_cat = count_by_category.groupby('DateOnly').size().reset_index(name='Count')

In [15]:
count_by_cat

       DateOnly  Count
0    2015-01-02    474
1    2015-01-03    470
2    2015-01-04    288
3    2015-01-05    564
4    2015-01-06    557
..          ...    ...
346  2015-12-27    258
347  2015-12-28    551
348  2015-12-29    541
349  2015-12-30    555
350  2015-12-31    450

[351 rows x 2 columns]

In [16]:
count_by_cat.to_csv('Lib_2015_dates_only.csv')