In [ ]:
# What I'm trying to do here is to combine the two columns on the trips table
# (from and to station name) so that I can then combine them to come up with a
# total number of journies per station to better visualise which stations are 
# most popular

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("Seattle_cycles_trip.csv")

In [4]:
df.head(5) # to get an idea of what's on the table

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971

In [7]:
df [['from_station_name', 'to_station_name']].apply(pd.value_counts) # isolates 
# the from and to columns and then counts the number of trips per column

,from_station_name,to_station_name
12th Ave & E Denny Way,3837,1234
12th Ave & E Mercer St,6322,2419
12th Ave & E Yesler Way,958,868
12th Ave & NE Campus Pkwy,3630,4807
15th Ave E & E Thomas St,7680,2391
...,...,...
UW Intramural Activities Building,1848,2050
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd,1398,1956
UW McCarty Hall / Whitman Ct,752,644
Union St & 4th Ave,2693,2819
Westlake Ave & 6th Ave,9994,10962

In [9]:
df [['from_station_name', 'to_station_name']].apply(pd.value_counts).sum # this
# now adds them together but the data is not nice to read.

<bound method NDFrame._add_numeric_operations.<locals>.sum of                                                     from_station_name  \
12th Ave & E Denny Way                                           3837
12th Ave & E Mercer St                                           6322
12th Ave & E Yesler Way                                           958
12th Ave & NE Campus Pkwy                                        3630
15th Ave E & E Thomas St                                         7680
...                                                               ...
UW Intramural Activities Building                                1848
UW Magnuson Health Sciences Center Rotunda / Co...               1398
UW McCarty Hall / Whitman Ct                                      752
Union St & 4th Ave                                               2693
Westlake Ave & 6th Ave                                           9994

                                                    to_station_name
12th Ave & E Denny Way                                         1234
12th Ave & E Mercer St                                         2419
12th Ave & E Yesler Way                                         868
12th Ave & NE Campus Pkwy                                      4807
15th Ave E & E Thomas St                                       2391
...                                                             ...
UW Intramural Activities Building                              2050
UW Magnuson Health Sciences Center Rotunda / Co...             1956
UW McCarty Hall / Whitman Ct                                    644
Union St & 4th Ave                                             2819
Westlake Ave & 6th Ave                                        10962

[61 rows x 2 columns]>

In [15]:
df [['from_station_name', 'to_station_name']].apply(pd.value_counts).sum(axis=1)

12th Ave & E Denny Way                                                     5071
12th Ave & E Mercer St                                                     8741
12th Ave & E Yesler Way                                                    1826
12th Ave & NE Campus Pkwy                                                  8437
15th Ave E & E Thomas St                                                  10071
                                                                          ...
UW Intramural Activities Building                                          3898
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd     3354
UW McCarty Hall / Whitman Ct                                               1396
Union St & 4th Ave                                                         5512
Westlake Ave & 6th Ave                                                    20956
Length: 61, dtype: int64

In [16]:
df [['from_station_name', 'to_station_name']].apply(pd.value_counts).sum(axis=1).plot

In [17]:
totaljournies = df[['from_station_name', 'to_station_name']].apply(pd.value_counts).sum(axis=1)

In [30]:
totaljournies.head(40)

12th Ave & E Denny Way                                                5071
12th Ave & E Mercer St                                                8741
12th Ave & E Yesler Way                                               1826
12th Ave & NE Campus Pkwy                                             8437
15th Ave E & E Thomas St                                             10071
15th Ave NE & NE 40th St                                              5953
1st Ave & Marion St                                                  14339
2nd Ave & Blanchard St                                               12637
2nd Ave & Pine St                                                    23833
2nd Ave & Spring St                                                  14003
2nd Ave & Vine St                                                    14625
3rd Ave & Broad St                                                   21671
6th Ave & Blanchard St                                                8750
6th Ave S & S King St                                                 7344
7th Ave & Union St                                                   12823
8D OPS 02                                                                4
9th Ave N & Mercer St                                                12129
Bellevue Ave & E Pine St                                              9549
Broadway and E Denny Way                                              1930
Burke Museum / E Stevens Way NE & Memorial Way NE                     3415
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                     8093
Cal Anderson Park / 11th Ave & Pine St                               15664
Children's Hospital / Sandpoint Way NE & 40th Ave NE                  3210
City Hall / 4th Ave & James St                                        7591
Dexter Ave & Denny Way                                                8074
Dexter Ave N & Aloha St                                              14434
E Blaine St & Fairview Ave E                                         13021
E Harrison St & Broadway Ave E                                       15486
E Pine St & 16th Ave                                                 14800
Eastlake Ave E & E Allison St                                         8359
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St     7641
Frye Art Museum / Terry Ave & Columbia St                             4552
Harvard Ave & E Pine St                                               9441
Key Arena / 1st Ave N & Harrison St                                  15553
King Street Station Plaza / 2nd Ave Extension S & S Jackson St       10612
Lake Union Park / Valley St & Boren Ave N                            11786
Mercer St & 9th Ave N                                                 2010
NE 42nd St & University Way NE                                        2898
NE 47th St & 12th Ave NE                                              4361
NE Pacific St/UW Medical Center                                       2101
dtype: int64

In [36]:
totaljournies.head(5)

12th Ave & E Denny Way        5071
12th Ave & E Mercer St        8741
12th Ave & E Yesler Way       1826
12th Ave & NE Campus Pkwy     8437
15th Ave E & E Thomas St     10071
dtype: int64

In [37]:
totaljournies.to_csv('totaljournies.csv')

In [39]:
totaljournies.plot