In [ ]:
# What I'm trying to do here is to combine the two columns on the trips table
# (from and to station name) so that I can then combine them to come up with a
# total number of journies

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("Seattle_cycles_trip.csv")

In [4]:
df.head(5) # to get an idea of what's on the table

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971

In [6]:
df [['from_station_name', 'to_station_name']].apply(pd.value_counts)

,from_station_name,to_station_name
12th Ave & E Denny Way,3837,1234
12th Ave & E Mercer St,6322,2419
12th Ave & E Yesler Way,958,868
12th Ave & NE Campus Pkwy,3630,4807
15th Ave E & E Thomas St,7680,2391
...,...,...
UW Intramural Activities Building,1848,2050
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd,1398,1956
UW McCarty Hall / Whitman Ct,752,644
Union St & 4th Ave,2693,2819
Westlake Ave & 6th Ave,9994,10962