In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("librarycheckouts_2016.csv")

In [32]:
df.dtypes

Unnamed: 0           int64
BibNumber            int64
ItemBarcode          int64
ItemType            object
Collection          object
CallNumber          object
CheckoutDateTime    object
dtype: object

In [33]:
df['CheckoutDateTime'] = pd.to_datetime(df['CheckoutDateTime'])

In [34]:
df['DayOfTheWeek'] = df['CheckoutDateTime'].dt.strftime('%A')

In [14]:
#df.dtypes

Unnamed: 0                   int64
BibNumber                    int64
ItemBarcode                  int64
ItemType                    object
Collection                  object
CallNumber                  object
CheckoutDateTime    datetime64[ns]
dtype: object

In [35]:
df.head(1)

,Unnamed: 0,BibNumber,ItemBarcode,ItemType,Collection,CallNumber,CheckoutDateTime,DayOfTheWeek
0,0,3167693,10087244793,acbk,canew,FIC ERENS 2016,2016-07-08 12:36:00,Friday

In [36]:
df.to_csv('lib_2016_hours.csv')