In [2]:
import pandas as pd

In [ ]:
lib_2014 = pd.read_csv("librarycheckouts_2014.csv")
lib_2014.dtypes
lib_2014['CheckoutDateTime'] = pd.to_datetime(lib_2014['CheckoutDateTime']) # convert CheckoutDateTime to date/time
count_by_category = lib_2014.groupby('CheckoutDateTime').size().reset_index(name='Count') # counts the number of times a 
# particular entry appears in a column.  I now need to limit the data to the day, not including the time
count_by_category['DateOnly'] = count_by_category['CheckoutDateTime'].dt.date # converts date time to a new date only column.
# Now need to amalgamate them
count_by_cat = count_by_category.groupby('DateOnly').size().reset_index(name='Count') # I now have number of times an item was
# withdrawn from the library per day in 2014.  I need this for all three years
count_by_cat.to_csv('Lib_2014_dates_only.csv')

In [3]:
lib_2016 = pd.read_csv("librarycheckouts_2016.csv")

In [7]:
lib_2016['CheckoutDateTime'] = pd.to_datetime(lib_2016['CheckoutDateTime'])

In [9]:
count_by_category = lib_2016.groupby('CheckoutDateTime').size().reset_index(name='Count')

In [10]:
count_by_category['DateOnly'] = count_by_category['CheckoutDateTime'].dt.date

In [11]:
count_by_cat = count_by_category.groupby('DateOnly').size().reset_index(name='Count')

In [12]:
count_by_cat

       DateOnly  Count
0    2016-01-02    464
1    2016-01-03    298
2    2016-01-04    576
3    2016-01-05    562
4    2016-01-06    541
..          ...    ...
350  2016-12-27    545
351  2016-12-28    549
352  2016-12-29    514
353  2016-12-30    444
354  2016-12-31    447

[355 rows x 2 columns]

In [14]:
count_by_cat.to_csv('Lib_2016_dates_only.csv')