In [1]:
#Lotsof attempts to convert the column starttime into date format

import pandas as pd

In [2]:
trips = pd.read_csv("Seattle_cycles_trip.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_10024\3193588831.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv("Seattle_cycles_trip.csv")

In [4]:
trips.head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960

In [10]:
print(trips)

        trip_id         starttime          stoptime    bikeid  tripduration  \
0           431  10/13/2014 10:31  10/13/2014 10:48  SEA00298       985.935
1           432  10/13/2014 10:32  10/13/2014 10:48  SEA00195       926.375
2           433  10/13/2014 10:33  10/13/2014 10:48  SEA00486       883.831
3           434  10/13/2014 10:34  10/13/2014 10:48  SEA00333       865.937
4           435  10/13/2014 10:34  10/13/2014 10:49  SEA00202       923.923
...         ...               ...               ...       ...           ...
286853   255241   8/31/2016 23:34   8/31/2016 23:45  SEA00201       679.532
286854   255242   8/31/2016 23:48  09/01/2016 00:20  SEA00247      1965.418
286855   255243   8/31/2016 23:47  09/01/2016 00:20  SEA00300      1951.173
286856   255244   8/31/2016 23:49  09/01/2016 00:20  SEA00047      1883.299
286857   255245   8/31/2016 23:49  09/01/2016 00:20  SEA00442      1896.031

                             from_station_name  \
0                          2nd Ave & Spring St
1                          2nd Ave & Spring St
2                          2nd Ave & Spring St
3                          2nd Ave & Spring St
4                          2nd Ave & Spring St
...                                        ...
286853                 Harvard Ave & E Pine St
286854  Cal Anderson Park / 11th Ave & Pine St
286855  Cal Anderson Park / 11th Ave & Pine St
286856  Cal Anderson Park / 11th Ave & Pine St
286857  Cal Anderson Park / 11th Ave & Pine St

                                          to_station_name from_station_id  \
0       Occidental Park / Occidental Ave S & S Washing...          CBD-06
1       Occidental Park / Occidental Ave S & S Washing...          CBD-06
2       Occidental Park / Occidental Ave S & S Washing...          CBD-06
3       Occidental Park / Occidental Ave S & S Washing...          CBD-06
4       Occidental Park / Occidental Ave S & S Washing...          CBD-06
...                                                   ...             ...
286853                                2nd Ave & Spring St           CH-09
286854                              6th Ave S & S King St           CH-08
286855                              6th Ave S & S King St           CH-08
286856                              6th Ave S & S King St           CH-08
286857                              6th Ave S & S King St           CH-08

       to_station_id                usertype  gender birthyear
0              PS-04                  Member    Male      1960
1              PS-04                  Member    Male      1970
2              PS-04                  Member  Female      1988
3              PS-04                  Member  Female      1977
4              PS-04                  Member    Male      1971
...              ...                     ...     ...       ...
286853        CBD-06  Short-Term Pass Holder     NaN       NaN
286854         ID-04  Short-Term Pass Holder     NaN       NaN
286855         ID-04  Short-Term Pass Holder     NaN       NaN
286856         ID-04  Short-Term Pass Holder     NaN       NaN
286857         ID-04  Short-Term Pass Holder     NaN       NaN

[286858 rows x 12 columns]

In [11]:
print(trips)

        trip_id         starttime          stoptime    bikeid  tripduration  \
0           431  10/13/2014 10:31  10/13/2014 10:48  SEA00298       985.935
1           432  10/13/2014 10:32  10/13/2014 10:48  SEA00195       926.375
2           433  10/13/2014 10:33  10/13/2014 10:48  SEA00486       883.831
3           434  10/13/2014 10:34  10/13/2014 10:48  SEA00333       865.937
4           435  10/13/2014 10:34  10/13/2014 10:49  SEA00202       923.923
...         ...               ...               ...       ...           ...
286853   255241   8/31/2016 23:34   8/31/2016 23:45  SEA00201       679.532
286854   255242   8/31/2016 23:48  09/01/2016 00:20  SEA00247      1965.418
286855   255243   8/31/2016 23:47  09/01/2016 00:20  SEA00300      1951.173
286856   255244   8/31/2016 23:49  09/01/2016 00:20  SEA00047      1883.299
286857   255245   8/31/2016 23:49  09/01/2016 00:20  SEA00442      1896.031

                             from_station_name  \
0                          2nd Ave & Spring St
1                          2nd Ave & Spring St
2                          2nd Ave & Spring St
3                          2nd Ave & Spring St
4                          2nd Ave & Spring St
...                                        ...
286853                 Harvard Ave & E Pine St
286854  Cal Anderson Park / 11th Ave & Pine St
286855  Cal Anderson Park / 11th Ave & Pine St
286856  Cal Anderson Park / 11th Ave & Pine St
286857  Cal Anderson Park / 11th Ave & Pine St

                                          to_station_name from_station_id  \
0       Occidental Park / Occidental Ave S & S Washing...          CBD-06
1       Occidental Park / Occidental Ave S & S Washing...          CBD-06
2       Occidental Park / Occidental Ave S & S Washing...          CBD-06
3       Occidental Park / Occidental Ave S & S Washing...          CBD-06
4       Occidental Park / Occidental Ave S & S Washing...          CBD-06
...                                                   ...             ...
286853                                2nd Ave & Spring St           CH-09
286854                              6th Ave S & S King St           CH-08
286855                              6th Ave S & S King St           CH-08
286856                              6th Ave S & S King St           CH-08
286857                              6th Ave S & S King St           CH-08

       to_station_id                usertype  gender birthyear
0              PS-04                  Member    Male      1960
1              PS-04                  Member    Male      1970
2              PS-04                  Member  Female      1988
3              PS-04                  Member  Female      1977
4              PS-04                  Member    Male      1971
...              ...                     ...     ...       ...
286853        CBD-06  Short-Term Pass Holder     NaN       NaN
286854         ID-04  Short-Term Pass Holder     NaN       NaN
286855         ID-04  Short-Term Pass Holder     NaN       NaN
286856         ID-04  Short-Term Pass Holder     NaN       NaN
286857         ID-04  Short-Term Pass Holder     NaN       NaN

[286858 rows x 12 columns]

In [14]:
trips.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971

In [15]:
trips['month_column'] = trips['starttime'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [19]:
trips.dtypes # confirming data types of starttime is object

trip_id                int64
starttime             object
stoptime              object
bikeid                object
tripduration         float64
from_station_name     object
to_station_name       object
from_station_id       object
to_station_id         object
usertype              object
gender                object
birthyear             object
dtype: object

In [20]:
trips['starttime'] = pd.to_datetime(trips['starttime']) # convert to date format

In [21]:
print("\nDataFrame after conversion:")

DataFrame after conversion:

In [23]:
trips.dtypes # confirmation the column starttime is now date format

trip_id                       int64
starttime            datetime64[ns]
stoptime                     object
bikeid                       object
tripduration                float64
from_station_name            object
to_station_name              object
from_station_id              object
to_station_id                object
usertype                     object
gender                       object
birthyear                    object
dtype: object

In [ ]:
#I can now save this as a new CSV to use in Power BI