In [2]:
test = 'andy'
test

'andy'

In [3]:
testC = test.capitalize()

In [4]:
testC

'Andy'

In [7]:
test[0]

'a'

In [9]:
test[-1]

'y'

In [15]:
test[1:]

'ndy'

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv("iris_dataset.csv")

In [20]:
df = data

In [22]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [26]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [28]:
test[::2]

'ad'

In [30]:
test[:]

'andy'

In [32]:
test*2

'andyandy'

In [35]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [36]:
if test.islower():
    print("the name is in LOWER case jobby!")

the name is in LOWER case jobby!

In [37]:
names = ["Bob", "Steve", "Helen"]

In [39]:
i=0
while(i < len(names)):
    print(names[i])
    i+=1

Bob
Steve
Helen

i=0 means i is Bob (in this example). len(names) is three so it prints Bob but then adds 1 to the 0 and runs the code again bringing Steve into the list and runs again until it gets to the point where i+1 is not less than three and stops.  Hence, we get bob, Steve Helen

In [41]:
ages = [92,90,95,97,96,98,21,94,92,95,97,97,98]
len(ages)

13

In [47]:
ages[0]

92

In [48]:
ages[-1]

98

In [52]:
ages[2:]

[95, 97, 96, 98, 21, 94, 92, 95, 97, 97, 98]

In [ ]:
i=0
while(i < len(ages)):
    print(ages[i])
    i+=1

or for item in ages:
    print(item)

In [54]:
ages.append(95)

In [55]:
ages

[92, 90, 95, 97, 96, 98, 21, 94, 92, 95, 97, 97, 98, 95]

In [56]:
books ={
    "title": "Hamlet",
    "author": "William Shakespeare",
    "language": "English"
}

In [57]:
title

NameError: name 'title' is not defined

In [60]:
books['title']

'Hamlet'

In [62]:
books.keys()

dict_keys(['title', 'author', 'language'])

In [64]:
books.values()

dict_values(['Hamlet', 'William Shakespeare', 'English'])

In [67]:
books.items()

dict_items([('title', 'Hamlet'), ('author', 'William Shakespeare'), ('language', 'English')])

In [71]:
"title"=="King Lear"

False

In [77]:
books ["title"]= "King Lear"

In [79]:
books['title']

'King Lear'

#Selection

In [81]:
age = int(input('Please enter your age: '))

Please enter your age: 21

if test.islower():
    print("the name is in LOWER case jobby!")

In [84]:
age = int(input('Please enter your age: '))
if age.ishigher():
    print("You are in Category A")

Please enter your age: 21

AttributeError: 'int' object has no attribute 'ishigher'

In [88]:
age = int(input('Please enter your age: '))
if age >=18:
    print("You are in Category A")

Please enter your age: 21
You are in Category A

In [92]:
age = int(input('Please enter your age: '))
if age >=18:
    print("You are in Category A")
    if age >=16:
        print ("You are in Category B")

Please enter your age: 21
You are in Category A
You are in Category B

In [93]:
age = int(input('Please enter your age: '))
if age >=18:
    print("You are in Category A")
    if age >=16:
        print ("You are in Category B")

Please enter your age: 17

In [94]:
age = int(input('Please enter your age: '))
if age >=18:
    print("You are in Category A")
elif age >=16:
    print ("You are in Category B")
else:
    print ("You are in Category C")

Please enter your age: 15
You are in Category C