In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/loan_data.csv")

In [8]:
df

      ID  Income        Term  Balance  Debt  Score  Default
0    567   17500  Short Term     1460   272  225.0    False
1    523   18500   Long Term      890   970  187.0    False
2    544   20700  Short Term      880   884   85.0    False
3    370   21600  Short Term      920     0    NaN    False
4    756   24300  Short Term     1260     0  495.0    False
..   ...     ...         ...      ...   ...    ...      ...
851   71   30000   Long Term     1270  3779   52.0     True
852  932   42500   Long Term     1550     0  779.0    False
853   39   36400   Long Term     1830  3032  360.0     True
854  283   42200   Long Term     1500  2498  417.0    False
855  847   30800   Long Term     1190  2355  177.0     True

[856 rows x 7 columns]