In [2]:
e = 'Earth'
f = 'Fire'
g = 'E' + 'F'
h = 'F' * 3
i = f * 4

In [3]:
i

'FireFireFireFire'

In [4]:
h

'FFF'

In [5]:
i

'FireFireFireFire'

In [6]:
a = 6 + 8
b = 14 / 2
c = 7 % 5
d = 14 // 4
e = 'E'
f = 'F'
g = 'E' + 'F'
h = 'F' * 3
i = 'F' * a

In [14]:
# Task 3
# Using the below expressions, can you replace the question marks to produce 
# the desired boolean value?

# Comparison operators: ==, !=, <, >, <=, >=
#a == 4 + 5 # False 
#3 < c # False
#d <= 3 # True
? == '?' # True

# Logical operators: and, or, not
#(? == ? + ?) and (? == ? / ?) # False
#(? == ? + ?) or (g == 'FE') # True
#not (? == '?') # True

False

In [17]:
? == '?'

Object ` == '?'` not found.

In [21]:
{1,1,1,1,3,3,3,3,3,3,3,3,3,3,'spam','spam','spam'}

{1, 3, 'spam'}

In [22]:
data_dict = {'age'       : [23, 34, 25],
             'active'    : [True, False, True],
             'first_name': ['Amy', 'James', 'John'],
             'last_name' : ['Wright', 'Cook', 'Taylor']}

In [23]:
data_dict

{'age': [23, 34, 25],
 'active': [True, False, True],
 'first_name': ['Amy', 'James', 'John'],
 'last_name': ['Wright', 'Cook', 'Taylor']}

In [24]:
my_dict['c'][1][1]

NameError: name 'my_dict' is not defined

In [25]:
my_dict = {
    'a': 'String 0',
    'c': ['One', 'Two']
}
my_dict['a']

'String 0'

In [29]:
my_dict['c'][1][0]

'T'

In [36]:
cheddar_age = 10
#value = True

if cheddar_age >= 18: #or value == True:
    age_group = 'vintage'
elif cheddar_age > 12:
    age_group = 'extra mature' 
elif cheddar_age > 6:
    age_group = 'mature'  
else:
    age_group = 'mild'   

print(f'This {cheddar_age} month old cheddar is {age_group}')

This 10 month old cheddar is mature