## Measures of central tendency, variation and outliers

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.Series([2,5,4,5,3])

In [3]:
data

0    2
1    5
2    4
3    5
4    3
dtype: int64

In [4]:
data.mean()

3.8

In [6]:
data.mode() # the most common answer

0    5
dtype: int64

In [7]:
data.median() # the entry which appears in the middle of the series.

4.0

In [8]:
data.min()

2

In [9]:
data.max()

5

In [10]:
(data.min()+data.max())/2 # known as mid range (affected by outliers)

3.5

In [11]:
data=pd.Series([2,3,4,6,7,7,8,19])

In [12]:
data.max()-data.min() # range (between lowest and highest values)

17

In [14]:
data.quantile(0.75)-data.quantile(0.25) # Inter quartile range (IQR)

3.5

In [15]:
data.std() # average distance of the data from the mean

5.291502622129181

In [16]:
data.std(ddof=0) # not sure what this means - check

4.949747468305833

## Practical Lab

In [17]:
import pandas as pd

In [18]:
data=[2,3,4,6,7,7,8,19]
df=pd.Series(data)

In [19]:
df

0     2
1     3
2     4
3     6
4     7
5     7
6     8
7    19
dtype: int64

In [38]:
mean = df.mean()

In [23]:
df.var() # variance

28.0

In [35]:
variation=df.var(ddof=0)

In [32]:
df.std()

5.291502622129181

In [33]:
stddev=df.std(ddof=0)

In [30]:
stddev = df.std()

In [34]:
stddev

4.949747468305833

In [36]:
variation

24.5

In [39]:
mean

7.0

In [40]:
mean1=mean-2*stddev

In [41]:
mean1

-2.8994949366116654

In [42]:
mean2=mean+2*stddev

In [43]:
mean2

16.899494936611667

In [77]:
df

0     2
1     3
2     4
3     6
4     7
5     7
6     8
7    19
dtype: int64

In [76]:
q1=df.percentile(data,25)
q3=df.percentile(data,75)

AttributeError: 'Series' object has no attribute 'percentile'

In [62]:
IQR= q3-q1

In [63]:
IQR

3.5

In [71]:
q1a = (q1-1.5)*IQR
q3a = (q3+1.5)*IQR

In [70]:
q1a

7.875

In [72]:
q3a

30.625

In [75]:
outliers=[if x < lower than q1a or x > q3a]

SyntaxError: invalid syntax (3058587365.py, line 1)

## Practical Lab 2

In [46]:
invt = pd.read_csv("investment_performance.csv")

In [49]:
invt.describe()

       Control Scores  Experimental Scores
count       50.000000            50.000000
mean        78.087517            85.319055
std          9.571455            11.057700
min         61.135907            66.153945
25%         70.463365            76.292904
50%         77.386154            84.371715
75%         86.041261            93.784759
max         95.359162           110.625783