In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df1=pd.read_csv('mortgage_applicants.csv')

In [6]:
df3=pd.read_json('weather.json', orient='split')

###

In [7]:
df3

             temp  humidity  sun_hrs
2023-07-15  15.68     73.18     6.40
2023-07-16  25.16     83.88     8.06
2023-07-17  13.26     80.05     4.89
2023-07-18  24.63     82.37     9.13
2023-07-19  12.78     83.10    17.10
2023-07-20  23.52     85.35     0.72
2023-07-21  17.80     85.64     5.79
2023-07-22  24.98     76.81    10.95
2023-07-23  23.48     80.86     3.77
2023-07-24  23.30     79.96    14.62

In [8]:
df1.pivot_table(index='Default', columns = 'Term', values = 'Income')

Term         10 Years      20 Years
Default
False    28228.009488  34880.792531
True     23848.526316  31200.451613

In [10]:
pivot_Table = df1.pivot_table(columns = 'Term', index='Default', values = 'Income')

In [16]:
pivot_Table

Term         10 Years      20 Years
Default
False    28228.009488  34880.792531
True     23848.526316  31200.451613

In [27]:
data={
    'Date':{'2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'},
    'Category':['A', 'B', 'A', 'B'],
    'Value':[10,20,30,40]
}
df=pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [28]:
df3

             temp  humidity  sun_hrs
2023-07-15  15.68     73.18     6.40
2023-07-16  25.16     83.88     8.06
2023-07-17  13.26     80.05     4.89
2023-07-18  24.63     82.37     9.13
2023-07-19  12.78     83.10    17.10
2023-07-20  23.52     85.35     0.72
2023-07-21  17.80     85.64     5.79
2023-07-22  24.98     76.81    10.95
2023-07-23  23.48     80.86     3.77
2023-07-24  23.30     79.96    14.62