In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("loan_data.csv")

In [3]:
df.head()

    ID  Income        Term  Balance  Debt  Score  Default
0  567   17500  Short Term     1460   272  225.0    False
1  523   18500   Long Term      890   970  187.0    False
2  544   20700  Short Term      880   884   85.0    False
3  370   21600  Short Term      920     0    NaN    False
4  756   24300  Short Term     1260     0  495.0    False

In [4]:
df.ndim

2