In [1]:
import pandas as pd

In [4]:
df=pd.read_excel("loan_data.xlsx", sheet_name="April")

In [5]:
df

   Cars     year  month  person
0     1  73878.0    NaN     NaN
1     2     74.0   78.0     NaN
2     3      NaN    NaN     NaN
3     4  45374.0    NaN     NaN
4     5      NaN    7.0     NaN
5     6      NaN    NaN     NaN
6     7      NaN    NaN     NaN
7     8      NaN    NaN     NaN
8     9     86.0    NaN     NaN
9    10      NaN   78.0  7568.0