In [1]:
import numpy as np

df=DataFrame({
    'participant': [1,2,3,4],
    'age': [50, None, 30, nNaN]
    'satisfaction': (None, 8, 9, None)
})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3891245847.py, line 5)

In [11]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({
    'participant': [1,2,3,4],
    'age': [50, None, 30, np.NaN],
    'satisfaction': (None, 8, 9, None)
})

In [14]:
df

   participant   age  satisfaction
0            1  50.0           NaN
1            2   NaN           8.0
2            3  30.0           9.0
3            4   NaN           NaN

In [15]:
df.isna().sum() # shows the number of nas.  See above

participant     0
age             2
satisfaction    2
dtype: int64