## Hypothesis Testing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [6]:
df=pd.read_csv('investment_performance.csv')

In [8]:
df.describe()

       Control Scores  Experimental Scores
count       50.000000            50.000000
mean        78.087517            85.319055
std          9.571455            11.057700
min         61.135907            66.153945
25%         70.463365            76.292904
50%         77.386154            84.371715
75%         86.041261            93.784759
max         95.359162           110.625783

In [12]:
stats.ttest_ind(df['Control Scores'], df['Experimental Scores']) # 0.0007 is the prob that
# the ttest is as it is.  Hence the prob is very low that the Null hypothesis is correct so there
# is enough evidence to suggest the alternative that the new strategy has made a difference

Ttest_indResult(statistic=-3.496431755693144, pvalue=0.0007101500664096605)

In [13]:
# the p value (0.0007) is less than half the significance level (0.025)