In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [22]:
trips_weather = pd.read_csv("trips_weather.csv")

In [23]:
trips_weather.head()

,Unnamed: 0,date,trip_count,mean_temperature_f,mean_wind_speed_mph,precipitation_in,name_12th Ave & E Denny Way,name_12th Ave & E Mercer St,name_12th Ave & E Yesler Way,name_12th Ave & NE Campus Pkwy,...,name_UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd,name_UW McCarty Hall / Whitman Ct,name_Union St & 4th Ave,name_Westlake Ave & 6th Ave,event_1_Fog,event_1_Rain,event_1_Snow,event_2_Rain,event_2_Snow,event_2_Thunderstorm
0,0,2014-10-13,12,62.0,4,0.0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,2014-10-13,10,62.0,4,0.0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,2014-10-13,12,62.0,4,0.0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,3,2014-10-13,22,62.0,4,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,2014-10-13,6,62.0,4,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [24]:
features = ['mean_temperature_f', 'mean_wind_speed_mph',
       'precipitation_in', 'name_12th Ave & E Denny Way',
       'name_12th Ave & E Mercer St', 'name_12th Ave & E Yesler Way',
       'name_12th Ave & NE Campus Pkwy', 'name_15th Ave E & E Thomas St',
       'name_15th Ave NE & NE 40th St', 'name_1st Ave & Marion St',
       'name_2nd Ave & Blanchard St', 'name_2nd Ave & Pine St',
       'name_2nd Ave & Spring St', 'name_2nd Ave & Vine St',
       'name_3rd Ave & Broad St', 'name_6th Ave & Blanchard St',
       'name_6th Ave S & S King St', 'name_7th Ave & Union St',
       'name_8D OPS 02', 'name_9th Ave N & Mercer St',
       'name_Bellevue Ave & E Pine St', 'name_Broadway and E Denny Way',
       'name_Burke Museum / E Stevens Way NE & Memorial Way NE',
       'name_Burke-Gilman Trail / NE Blakeley St & 24th Ave NE',
       'name_Cal Anderson Park / 11th Ave & Pine St',
       "name_Children's Hospital / Sandpoint Way NE & 40th Ave NE",
       'name_City Hall / 4th Ave & James St', 'name_Dexter Ave & Denny Way',
       'name_Dexter Ave N & Aloha St', 'name_E Blaine St & Fairview Ave E',
       'name_E Harrison St & Broadway Ave E', 'name_E Pine St & 16th Ave',
       'name_Eastlake Ave E & E Allison St',
       'name_Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St',
       'name_Frye Art Museum / Terry Ave & Columbia St',
       'name_Harvard Ave & E Pine St',
       'name_Key Arena / 1st Ave N & Harrison St',
       'name_King Street Station Plaza / 2nd Ave Extension S & S Jackson St',
       'name_Lake Union Park / Valley St & Boren Ave N',
       'name_Mercer St & 9th Ave N', 'name_NE 42nd St & University Way NE',
       'name_NE 47th St & 12th Ave NE', 'name_NE Pacific St/UW Medical Center',
       'name_Occidental Park / Occidental Ave S & S Washington St',
       'name_PATH / 9th Ave & Westlake Ave',
       'name_Pier 66 / Alaskan Way & Bell St',
       'name_Pier 69 / Alaskan Way & Clay St', 'name_Pine St & 9th Ave',
       'name_Pronto shop', 'name_Pronto shop 2',
       'name_REI / Yale Ave N & John St',
       'name_Republican St & Westlake Ave N',
       'name_Seattle Aquarium / Alaskan Way S & Elliott Bay Trail',
       'name_Seattle University / E Columbia St & 12th Ave',
       'name_Summit Ave & E Denny Way', 'name_Summit Ave E & E Republican St',
       'name_Terry Ave & Stewart St', 'name_Thomas St & 5th Ave N',
       'name_UW Engineering Library / E Stevens Way NE & Jefferson Rd',
       'name_UW Intramural Activities Building',
       'name_UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd',
       'name_UW McCarty Hall / Whitman Ct', 'name_Union St & 4th Ave',
       'name_Westlake Ave & 6th Ave', 'event_1_Fog', 'event_1_Rain',
       'event_1_Snow', 'event_2_Rain', 'event_2_Snow', 'event_2_Thunderstorm']

In [25]:
target='trip_count'

In [26]:
X=trips_weather[features]
y=trips_weather[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model=DecisionTreeRegressor()
model.fit(X_train, y_train)
y_pred=model.predict(X_test)

In [27]:
mse=mean_squared_error(y_test, y_pred)

In [28]:
print("mean_squared_error", mse)

mean_squared_error 61.1402156159365

In [31]:
new_data=pd.DataFrame({'name_12th Ave & E Denny Way':1, 'event_1_Rain':1})
predicted_trips=model.predict(new_data)
print("Predicted Bicycle Trips:", predicted_trips)

ValueError: If using all scalar values, you must pass an index

In [30]:
new_data

NameError: name 'new_data' is not defined

In [ ]:
#we then went on to create a decision tree