In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("iris_dataset.csv")

In [6]:
df = data

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
print('Hello World')

Hello World

In [11]:
'Hello World'

'Hello World'

In [12]:
username='Bob'

In [13]:
age='32'

In [18]:
print(username,'is',age,'years old')

Bob is 32 years old

In [17]:
print(username,'is'+age+'years old')

TypeError: can only concatenate str (not "int") to str

In [19]:
username='Bob'

In [20]:
age='32'

In [21]:
print(username+'is'+age+'years old')

Bobis32years old

In [23]:
username=input('Please enter your name')

Please enter your nameAndy

In [24]:
age =input('Please enter your name')

Please enter your name21

In [25]:
print(username,'is',age,'years old.)')

Andy is 21 years old.)

In [32]:
Number_of_crayons = 50
number_of_children = 6
crayons_each_child_will_get = Number_of_crayons / number_of_children

In [41]:
print(f"Each child will get {crayons_each_child_will_get} crayons")

Each child will get 8 crayons

In [42]:
print(f"Each child will get {crayons_each_child_will_get} crayons")

Each child will get 8 crayons

Easier without all the language

In [43]:
50/6

8.333333333333334

gives the precise number

In [45]:
50//8

6

Gives the whole number with a remainder (but doesn't note the remainder)

In [51]:
length = int(input('Please enter the length of the rectangle:'))

Please enter the length of the rectangle:15

In [56]:
width = int(input('Please enter the width of the rectantgle:'))

Please enter the width of the rectantgle:10

In [53]:
perimeter = 2*length + 2*width
perimeter

50

In [57]:
area = length * width
area

150

In [58]:
length = int(input('Please enter the length of the rectangle:'))

Please enter the length of the rectangle:15

In [59]:
width = int(input('Please enter the width of the rectantgle:'))

Please enter the width of the rectantgle:10

In [60]:
height = int(input('Please enter the height of the rectantgle:'))

Please enter the height of the rectantgle:2

In [61]:
volume = length*width*height

In [63]:
volume

300

1.6666666666666667

1

In [68]:
numbers = [1,3,5,7]

In [79]:
Names = ['Bob', 'Steve', 'Helen']

In [80]:
Mix = [1, 3.14, "fruit", True]

In [82]:
print (Names)

['Bob', 'Steve', 'Helen']

In [85]:
print (Mix)

[1, 3.14, 'fruit', True]

In [86]:
print (Mix)

[1, 3.14, 'fruit', True]

In [94]:
print (Names[0])

Bob

In [96]:
print (Names[-1])

Helen

In [102]:
s = 'Hello World'
print (s[6])

W

In [106]:
numbers = [1,3,5,7,9,11,13,15,17,19,21]
print (numbers[3:10])

[7, 9, 11, 13, 15, 17, 19]

Question - why does it stop at 19? zero is 1 so 3 is 7 OK.  Why is 10 not 21?

print (numbers [2:])

In [108]:
print (numbers[2:])

[5, 7, 9, 11, 13, 15, 17, 19, 21]

In [109]:
print (numbers[:6])

[1, 3, 5, 7, 9, 11]

In [110]:
print (numbers[::-1])

[21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [111]:
numbers = [1,3,5]

In [112]:
print (numbers)

[1, 3, 5]

In [113]:
numbers.append (88)

In [114]:
print (numbers)

[1, 3, 5, 88]

In [118]:
test = 'great britain'
test

'great britain'

In [121]:
testGB = test.capitalize()

In [123]:
testGB

'Great britain'

In [124]:
testGB1 = testGB.title()

In [125]:
testGB1

'Great Britain'